
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

nav {

  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 0;
  width: 100%;
  height: 50px;

  /*glassmorhpism*/
  background: rgba( 23, 26, 28, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
}
.dropdown-content {
  position: absolute;
  top: 66px;
  width: inherit;
  padding: inherit;
  z-index: 1;
   /*glassmorhpism*/
   background: rgba( 23, 26, 28, 0.5 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 8.5px );
   -webkit-backdrop-filter: blur( 8.5px );
   border-radius: 10px;

}

.button {
  padding: 0.5rem 1rem;
  text-decoration: none;
  width: fit-content;
}

.button > * {
  width: auto;
}

.searchbar-container{
  display: flex;
  width: fit-content;
}

.searchbar {
  background-color: transparent;
  border-style: none;
  text-decoration: none;
  color: #fff;
}

.searchbar:focus {
  outline: none;
}

.searchbar::placeholder {
  color: #a2a2a2;
}

svg{
  fill: #9aa0a6;
}
.icon {
  width: 32px;
  height: 32px;
}
